@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue !</h1>
    <h2 style="font-size: medium;">Je suis Joris Rouziere</h2>
    <h2 style="font-size: medium;">Code source : <a href="https://github.com/Joktaa/VCubWatcher" target="_blank" rel="noopener noreferrer">ici</a></h2>

</div>
